.footerBg {
  padding: 3em;
  position: relative;
  width: 100vw;
  max-width: 100%;
  display: block;
  background-color: #030C1A;
  margin: auto;
}

.footerBg > div {
  padding: 2em;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 1;
  background-color: #030C1A;
  margin-top: 4em;
}
